body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #fafafa;
}

nav{
    background-color: #ffffff;
}

.sidebar {
    
    width: 200px;
    background-color: #ffffff;
    position:fixed ;
    height: 100%;
    overflow: auto;
    z-index: -1;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    
}

.content {
    margin-left: 200px;
    margin-top: 80px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
       display: none;
    }

    .sidebar a {
        float: left;
    }

    .content {
        margin-left: 0;
        
    }
}

.upper{

left: 0px;
top: 0px;
z-index: 2;
}

.formDiv{
    background-color: #FFFFFF;
    padding: 20px;
}

.dashImages{
    height: 15px;
    width: 15px;
}


#file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
  }

.snackbarImage{
    height: 15px;
    width: 15px;
    margin: 5px;
}