body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #fafafa;
}

nav{
    background-color: #ffffff;
}

.sidebar {
    
    width: 200px;
    background-color: #ffffff;
    position:fixed ;
    height: 100%;
    overflow: auto;
    z-index: -1;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    
}

.content {
    margin-left: 200px;
    margin-top: 80px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
       display: none;
    }

    .sidebar a {
        float: left;
    }

    .content {
        margin-left: 0;
        
    }
}

.upper{

left: 0px;
top: 0px;
z-index: 2;
}

.formDiv{
    background-color: #FFFFFF;
    padding: 20px;
}

.dashImages{
    height: 15px;
    width: 15px;
}


#file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
  }

.snackbarImage{
    height: 15px;
    width: 15px;
    margin: 5px;
}

.labb {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .innerTabs button{
    border: none;
  }

  .innerTabs .active{

    color:#C8242F;
    border-bottom: 3px solid #C8242F ;
  }

.snackbar1{
    border: 1px solid #FF3535;
    border-radius: 5px;
    align-items: center;
    height: 44px;
    width: 49%;
}
.snackbar2{
    border: 1px solid #00B9E1;
    border-radius: 5px;
    align-items: center;
    width: 49%;
    height: 44px;
}

.snackbar3{
    border: 1px solid #FFA800;
    border-radius: 5px;
    width: 49%;
    height: 44px;
    align-items: center;
}
.snackbar4{
    border: 1px solid #00AF27;
    border-radius: 5px;
    align-items: center;
    height: 44px;
    width: 49%;
}







.inputContainer {
    position: relative;
    height: 38px;
    width: 100%;
    border-radius: 5px;
  }
  
  .input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #adadad;
    border-radius: 5px;
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  .label {
    position: absolute;
    top: 8px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #adadad;
  }
  
  ::placeholder {
    color: transparent;
  }
  
  .input:not(:placeholder-shown) + .label {
    position: absolute;
    top: 14px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #adadad;
  }
  
  .input:focus + .label {
    top: -8px;
    left: 8px;
    z-index: 10;
    font-size: 12px;
  }
  